<h4>Plots for garden <%= @garden.name%></h4>
<table class='table' id='plots-list'>
  <thead>
    <tr>
      <th>Plot #</th>
    </tr>
  </thead>
  <tbody>
    <% @plots.each do |plot| %>
      <tr id='plot-<%=plot.id%>'>
        <td>Plot #<%= plot.number%></td>
      </tr>
      <tr>
        <td>
          <table class='table' id='plots-<%=plot.id%>-plants-list'>
            <thead>
              <tr>
                <th>Plant Name</th>
              </tr>
            </thead>
            <tbody>
              <% plot.plants.each do |plant| %>
                <tr id='plant-<%=plant.id%>'>
                  <td>
                    <%= plant.name%>
                    <%= link_to 'Remove Plant', remove_plant_garden_plot_plant_path(@garden, plot, plant), method: :post, class:'badge badge-secondary'%>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>